body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
  background-color: #fff;
}
.poster {
  width: 77%;
  padding: 65px 11.5% 60px;
  background: #dbeef6;
  height: 340px;
}
.poster > div {
  margin: -16px;
  padding: 0 48px;
  display: flex;
}
.poster_content {
  padding: 16px;
  position: relative;
  z-index: 1;
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
}
.poster_content > h1 {
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
  margin: 0 0 28px;
  max-width: 672px;
}
.poster_content > h1 + span {
  line-height: 1.5;
  display: inline-block;
  font-size: 24px;
  color: rgb(63, 63, 63);
  margin-bottom: 12px;
  max-width: 500px;
}
.poster_content > span + div {
  display: flex;
  min-height: 72px;
  margin-top: 28px;
  max-width: 672px;
}
.buy_now {
  background-color: rgb(1, 86, 184);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  color: rgb(255, 255, 255) !important;
  min-height: 48px;
  border: 0px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 20px !important;
  line-height: 24px !important;
  padding: 24px 41px;
}
.buy_now + div {
  margin-left: 20px;
}
.buy_now + div :nth-child(1) {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  white-space: nowrap;
}
.buy_now + div :nth-child(2) {
  font-size: 16px;
  line-height: 32px;
  margin-top: 0px;
  white-space: nowrap;
}
.empower {
  text-align: center;
  padding-bottom: 24px;
  margin-bottom: 8px;
  font-family: OpenSans, Arial, sans-serif !important;
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 30px !important;
  color: #373a3c;
}
.logo_line {
  max-width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.logobox {
  margin: 45px 0px;
}
.graybox {
  padding: 72px 15%;
  margin: auto;
  height: 400px;
  background-color: #f7f7f7;
}
.graybox > div {
  padding: 16px;
  width: 100%;
  height: 382px;
}
.intlearn {
  margin: auto;
  text-align: center;
  font-size: 2.125rem;
  line-height: 2.625rem;
  color: #222222;
  font-weight: bold;
  font-family: OpenSans-Bold, OpenSans, Arial, sans-serif;
}
.intoptions {
  display: flex;
  margin: 48px 0 0 0;
  justify-content: space-between;
}
.intoptions > div {
  flex-basis: 25%;
  padding: 0 36px;
}
.option1 {
  padding-left: 0px !important;
}
.option4 {
  padding-right: 0px !important;
}
.intoptions > div > :nth-child(1) {
  display: flex;
  margin: 0 0 26px 0;
  justify-content: center;
  align-items: center;
}
.intoptions > div > :nth-child(1) > img {
  margin: auto;
  height: 64px;
  width: 64px;
  vertical-align: middle;
}
.intoptions > div > :nth-child(2) {
  margin: 0 auto 20px;
  font-family: OpenSans;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  width: 50%;
  color: #1f1f1f;
}
.intoptions > div > :nth-child(3) {
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  color: #1f1f1f;
  max-width: 234px;
}
.search_course {
  background-color: #ffffff;
  height: 160px;
  width: 70%;
  margin: 64px auto;
  text-align: center;
}
.search_course > div > h2 {
  font-size: 2.125rem;
  line-height: 2.625rem;
  font-weight: bold;
  margin-left: 0px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}
.course_searchbar,
.popular_courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.course_searchbar {
  width: 66.6667%;
  height: 40px;
  margin: auto;
  line-height: 1.5;
}
.popular_courses {
  margin-top: 10px;
}
.course_options {
  margin: 5px 8px;
  vertical-align: auto;
  align-items: center;
  padding: auto 12px;
  background-color: #f0f0f0;
  color: #2163b2;
  margin: 5px 8px 5px 0;
  padding: 0 12px;
  height: 28px;
  border-radius: 14px;
  font-size: 14px;
  background-color: #f0f0f0;
  border: 0;
  white-space: pre;
}
.popular_courses > h3 {
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 12px 0 0;
}
.popular_search {
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  position: relative;
  border: 1px solid #d2d2d2;
}
.popular_search > input {
  height: 40px;
  padding: 0 15px;
  border: 0;
  width: 100%;
  font-family: 400;
  font-size: 16px;
  line-height: 24px;
  color: #373a3c;
}
.popular_search > button {
  width: 40px;
  height: 40px;
  margin-left: 4px;
  background: transparent none repeat 0 0 scroll;
  color: #4D4D4D;
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-indent: 0;
  min-width: 0;
}
.mng_tool {
  background-color: #d8eff8;
  border: transparent;
}
#Management_tools {
  width: 81.34%;
  padding: 72px 10% 109px;
  /* margin: 72px auto; */
  justify-content: center;
}
.tools_titles {
  font-size: 2.125rem;
  font-weight: 700;
  text-align: center;
  color: rgb(31, 31, 31);
  margin-bottom: 0px;
  line-height: 48px !important;
}
.tools_slides {
  margin: 42px auto;
  display: flex;
  width: 1176px;
}
#Ul_dots {
  display: flex;
  margin: auto;
  width: 63px;
}
.dot:hover {
  background-color: #271166;
}
.dot {
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 0 7px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  background-color: #bbb;
}
#slides{
  width: 1056px;
  height: 396px;
  align-self: center;
}
#lLeft_btn,
#Right_btn {
  cursor: pointer;
  width: 60px;
  height: 60px;
  font-size: 60px;
  margin: 168px 0px;
}
#Poster_image {
  width: 100%;
}
#Faq_section {
  width: 88%;
  margin: 72px 6%;
  /* border: 1px solid black; */
  justify-content: center;
  align-items: center;
}
.faq_title {
  text-align: center;
  font-size: 2.125rem;
  line-height: 2.625rem;
  font-weight: bold;
  margin-bottom: 48px;
}
.faq_questions {
  margin: 0;
  display: block;
  box-sizing: border-box;
  flex-grow: 0;
  margin: auto;
  max-width: 66.666667%;
  flex-basis: 66.666667%;
}
.query {
  margin-bottom: 17px;
  /* border: 1px solid black; */
}
.query > div {
  cursor: pointer;
  background: #F7F7F7;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
}
.symb {
  height: 28px !important;
  width: 28px !important;
  transform: rotate(0deg);
}
.quest {
  display: flex;
  align-items: flex-start;
  padding: 20px 24px;
  /* border: 1px solid red; */
}
.question {
  margin: 0 0 0 11px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0px;
  font-weight: 500;
  color: rgb(31, 31, 31);
}
.ans {
  /* border: 1px solid green; */
  margin-top: 4px;
  padding: 20px 24px;
}
.ans > p {
  margin: none;
}
.last_add {
  background-color: #271066;
  color: #ffffff;
  width: 70%;
  height: 270px;
  padding: 64px 15%;
  text-align: center;
}
.last_add :nth-child(1) {
  margin-bottom: 14px;
  font-size: 34px;
  line-height: 40px;
  margin-bottom: 14px;
  display: inline-block;
  font-weight: bold;
}
.last_add :nth-child(2) {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
  cursor: default !important;
}
.last_add :nth-child(4) {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: rgb(255, 255, 255);
  margin-top: 22px;
}
.last_add :nth-child(5) {
  font-size: 20px;
  line-height: 32px;
}
.ans {
  display: none;
}
#main_div {
  padding-top: 0px;
}